<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @test.teacher_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @test.course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @test.user_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @test.year %>
</p>

<p>
  <strong>Number:</strong>
  <%= @test.number %>
</p>

<p>
  <strong>Content:</strong>
  <%= @test.content %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
